body{font-family:'Roboto',sans-serif;font-size:15px;background:#f1f1f1;color:#000}a{transition:all .5s ease}h1,h2,h3,h4,h5,h6,ul,ol{margin:0;padding:0}*:focus{outline:none;outline:0}a{transition:all .5s ease;color:#fff}.video_content{margin-top:80px}.top_bar{margin-top:30px;position:relative;z-index:1}.logo_l
img{width:110px}.welcome_right_top
li{display:inline;padding-right:20px;font-size:14px;font-weight:600;line-height:5}.welcome_right_top
a{color:rgba(255, 255, 255, 0.4)}.welcome_right_top li a:hover{color:#fff!important}.video_title
h4{font-size:32px;padding:6px
0}.video_title p, .blog_content
p{font-size:14px;text-align:justify;font-weight:400;line-height:2;color:#50525f}.blog_content
h5{font-size:16px}.video{height:0;position:relative;padding-bottom:56.25%}.video
iframe{position:absolute;left:0;top:0;width:100%;height:100%}#where_we .fullwidth-section{background:url(//coeqwety.com/wp-content/themes/fracational/assets/css/../img/pexels-photo.gif);content:'';background-size:cover;z-index:-1}#today_problem .fullwidth-section{background:url(//coeqwety.com/wp-content/themes/fracational/assets/css/../img/pictures/o-VACATION-HOME-facebook.gif);content:'';background-size:cover;z-index:-1}.es_button{margin-top:15px}.es_button
input{background-color:#f46336;border:1px
solid #ddd;border-radius:5px;padding:5px
90px;color:#fff}.es_textbox
input{background-color:#fff;border:1px
solid #ddd;border-radius:5px;padding:5px
10px !important}.es_textbox_button{width:100%!important}.es_textbox_class{width:100%!important}.es_lablebox
label{font-size:14px;font-weight:600}.es_widget_form{margin-bottom:30px}.t_b_20{margin:20px
0}.blog_header_img{position:relative;height:500px;margin-top:-10px;background:url(//coeqwety.com/wp-content/themes/fracational/assets/css/../img/blog_header_img.png)no-repeat center center / cover}.overlay_blog_page{background:rgba(0, 0, 0, 0) linear-gradient(190deg, #000000, #4a4a4a) repeat scroll 0 0;content:"";height:100%;left:0;opacity:0.7;position:absolute;top:0;width:100%}.breadcrumb{font-size:22px}.weight-300{margin-right:27px}.blog-img-hover:hover{background-color:none!important}@media (min-width: 1900px){body{color:#50525f;font-family:"Roboto",sans-serif;font-size:22px}.container{min-width:1800px}.video_title p, .blog_content
p{font-size:20px;text-align:justify;font-weight:400;line-height:2;color:#50525f}.blog_content
h4{font-size:36px}.blog_content
h5{font-size:22px}.video_content
div.m_t{margin-top:20%}.blog_page_bg_title{margin-top:10%!important}.blog_header_img
img{background:rgba(0, 0, 0, 0) none repeat scroll 100% center;width:100%}}@media (max-width: 1200px){#photos{-moz-column-count:4;-webkit-column-count:4;column-count:4}.blog_header_img
img{background:rgba(0, 0, 0, 0) none repeat scroll 100% center;width:100%}}@media (max-width: 1000px){#photos{-moz-column-count:3;-webkit-column-count:3;column-count:3}}@media (max-width: 800px){#photos{-moz-column-count:2;-webkit-column-count:2;column-count:2}.fullscreen-video
video{display:none!important}.mobile_view_img{width:100%;height:100%;background:transparent url(//coeqwety.com/wp-content/themes/fracational/assets/css/../img/change_video_mob_img.gif) no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-position:center center;position:absolute;content:""}}@media only screen and (max-width:720px){h4,.h4{font-size:22px}.video_content{margin-top:35%;vertical-align:center;display:block;position:absolute}#about{display:none}#dream .col-md-4{margin-bottom:10%}#main-menu
li{width:85%!important}}@media only screen and (max-width: 640px) and (orientation: landscape){.video_content{margin-top:5% !important;vertical-align:center;display:block;position:absolute}}@media only screen and (max-width:480px){h4,.h4{font-size:22px}.video_content{margin-top:35%;display:block;vertical-align:center;position:absolute}}@media (max-width: 400px){#photos{-moz-column-count:1;-webkit-column-count:1;column-count:1}}