
/* ===== START NAVIGATION MENU ===== */
.navbar-brand {
    float: left;
    height: auto;
	padding: 0;
    font-size:20px;
    line-height: 20px;
	margin-top: 6px;
}
.navbar-toggle {
margin-top: 15px;
border-radius: 60px;
font-size: 17px;
line-height: 1;
padding: 10px 8px;
color: #BBB;
border: 2px solid #BBB;
text-align: center;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #f56363;
color: #FFF;
border-color: #f56363;
}
.navbar-nav {
margin: 0;
}
.navbar-default {
font-family:'Raleway', sans-serif;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
font-weight: 700;
font-size: 12px;
letter-spacing: 1.5px;
background-color: #3c3e47;
border: 0;
border-radius: 0;
height: 70px;
margin: 0;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.dropdown > a:focus {
position: relative;
padding-top: 30px;
padding-bottom: 28px;
padding-right: 16px;
padding-left: 16px;
margin-bottom: 0;
line-height: 1;
text-transform: uppercase;
background-color: #3c3e47;
color: #BBB;
z-index: 1;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li.active > a:hover {
color: #FFF;
background-color: #3c3e47;
}
.navbar-default .navbar-nav > li.active > a:focus {
color: #FFF;
background-color: #3c3e47;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    overflow-x: visible;
    border-top: medium none;
    box-shadow: none;
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
 top: 0;
 position: fixed;
}
.dropdown-menu {
box-shadow: none;
font-size: 10px;
text-transform: uppercase;
border-radius: 0;
background-color: #FFF !important;
color: #777;
border-top: none;
z-index: 1;
padding: 0;
margin: 0;
-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.dropdown-menu > li > a {
    padding: 7px 20px;
    color: #777;
	font-weight: 400;
	background-color: #FFF;
	border-top: 1px solid #EEE;
}
.dropdown-menu > li:first-child > a {
	border-top: none;
}
.dropdown-menu > li:last-child > a {

}
.dropdown-menu > li:hover > a, .dropdown-menu > li > a:hover, .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #f56363 !important;
	background-color: #FFF;
}
/* ========== MENU WILL DROP ON HOVER FOR LARGE SCREENS ========== */
@media (min-width: 991px)
 {
 .dropdown .dropdown-menu {
display: block;
visibility:hidden;
    opacity: 0; 
    height: 0;
    overflow: hidden;
	transition-property:opacity;
transition-duration: .25s;
transition-delay: .25s;

/* Safari */
-webkit-transition-property:opacity; 
-webkit-transition-duration: .25s;
-webkit-transition-delay: .25s;
 }
.dropdown:hover .dropdown-menu {
opacity: 1;
visibility:visible;
    height: auto;
	  color: #777;
 }
 .dropdown-backdrop {
visibility: hidden;
}
 }
 /* =====*/
/* ===== END NAVIGATION MENU ===== */

/* ==================================================  */
/* === POINT IN WHICH MENU GOES RESPONSIVE - COLLAPSE POINT ===  */
/* ==================================================  */
@media (min-width: 991px) {
  .navbar-toggle {
    display: none;
  }
.dropdown i {
display: none;
}
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar {
    border-radius: 0;
  }
  .navbar-header {
    float: left;
  }
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
.navbar-nav.navbar-right:last-child {
    margin-right: -15px;
}
}
@media (max-width: 991px) {
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.dropdown > a:focus {
margin-right: 0;
margin-left: 0;
padding-left: 20px;
padding-right: 20px;
border-bottom: 1px solid #BBB;
}
.navbar .social-icons {
background-color: #FFF;
padding-bottom: 20px;
}
}
@media (min-width: 768px) {
.navbar .container {
  width: 100%;
  }
}
@media (min-width: 992px) {
.navbar .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
.navbar .container {
    width: 1170px;
  }
}