body {
	background-color: #50525f;
	color: #FFF;
}
a, a:link, a:visited {
color: #FFF;
}
a:active, a:hover {
color: #f56363;
}

hr {
border-color: #999;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #FFF;
}
.customer {
float: left;
border-radius: 100px;
width: 80px;
height: 80px;
margin-right: 0px;
}
#carousel .carousel-indicators {
position: relative;
top: 10px;
}
#carousel .carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 1px;
    background-color: transparent;
	border: 2px solid;
}
#carousel .carousel-indicators li {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 2px;
	margin-bottom: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid;
    border-radius: 10px;
}
#carousel h3 {
margin-top: 30px;
font-weight: 300;
margin-bottom: 30px;
line-height: 1.6;
}
#carousel .source {
text-transform: uppercase;
font-size: 14px;
font-weight: 700;
color: #50525f;
}

.pricing-table div[class*='col-md-'] {
background-color: #41434d;
padding-top: 30px;
padding-bottom: 20px;
}
.pricing-table div[class*='col-md-'].active {
background-color: #3c3e47;
border-right: 1px solid #3c3e47;
border-left: 1px solid #3c3e47;
}
@media (max-width: 768px) {
.pricing-table div[class*='col-md-'].active {
border-top: 1px solid #EEE;
border-bottom: 1px solid #EEE;
}
}
.pricing-table .stars i {
margin-right: 2px;
font-size: 16px;
color: #FFD100;
}
.pricing-table i {
margin-right: 6px;
font-size: 14px;
}
.pricing-table .decimal {
position: relative;
top: 5px;
margin-left: 5px;
font-size: 20px;
font-weight: 400;
}
.pricing-table ul {
list-style: none;
margin: 0;
padding: 0;
}
.pricing-table li {
padding: 6px 10px;
}
.map-wrapper {
margin-top: 20px;
margin-bottom: 20px;
position:relative;
width:100%;
height:300px;
border-radius: 2px;
overflow:hidden;
color: #50525f;
}

#map-canvas {
width:100%;
height:300px;
border:0;
border-radius: 2px;
}

.team-pic {
width: 100%;
height: auto;
border-radius: 2px;
margin-top: 40px;
}
.team-wrapper {
position: relative;
width: 100%;
height: 100%;
margin-top: 20px;
}
.team-wrapper img {
min-width: 100%;
height: auto;
}
.team-drop li > i {
border-radius:500px;
font-size:18px;
width: 35px;
height: 35px;
line-height: 37px;
text-align: center;
color: #FFF;
background-color:#50525f;
cursor: pointer;
position: relative;
    -webkit-transition: background-color 0.35s;
  -moz-transition: background-color 0.35s;
  -o-transition: background-color 0.35s;
  transition: background-color 0.35s;
  z-index: 1;
}

.team-drop {
list-style: none;
}
.team-drop ul {
list-style: none;
margin: 0;
padding: 10px 20px 20px;
position: absolute;
top: 15px;
background-color:#50525f;
border-radius: 2px;
width: 300px;
text-align: left;
z-index: 2;
border: none;
display: block;
    -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
.team-drop .social-icons i {
color: #FFF;
}
/* TEAM STYLE 2 - SLIDER DISPLAY */
#team-slider .team-wrapper {
padding: 15px;
}
#team-slider .owl-controls {
position: absolute;
top: -5px;
right: 10px;
width: 100%;
text-align: right;
}

/* TEAM STYLE 3 - TRADITIONAL DISPLAY */
.team-img-wrapper {
position: relative;
width: 100%;
height: 100%;
}
.team-img-wrapper-hover {
position: absolute;
text-align: center;
width: 100%;
height: 100%;
background-color:rgba(60,62,71,0.8);
opacity: 0;
border-radius: 1px;
    -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
.team-img-wrapper-hover:hover {
opacity: 1;
}
.team-img-wrapper img {
border-radius: 1px;
}
.team-img-wrapper .social-icons {
position: absolute;
top: 50%;
margin-top: -9px;
width: 100%;
}
.team-img-wrapper .social-icons i {
color: #FFF;
}

.breadcrumb {
	color: #FFF;
}
.breadcrumb > li + li:before {
	font-family: 'FontAwesome';
    padding: 0px 5px;
	content: "\f101";
	color: #FFF;
}
.breadcrumb > .active {
    color: #FFF;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
color: #f56363;
background-color: #eee;
border-color: #ddd;
}
.pagination > li > a, .pagination > li > span {
position: relative;
float: left;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #FFF;
text-decoration: none;
background-color: transparent;
border: 1px solid #ddd;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
z-index: 2;
color: #fff;
cursor: default;
background-color: #f56363;
border-color: #FFF;
}
/* Pager */
.pager li > a, .pager li > span {
  font-family: 'Raleway', sans-serif;
    display: inline-block;
    padding: 5px 14px;
    background-color: transparent;
	color: #FFF;
    border: 1px solid #DDD;
    border-radius: 2px;
	  font-weight: 500;
}
.pager li:hover > a {
	color: #f56363;
}

